@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.container-flex {
    width: 85%;
    max-width: 1200px;
    display: flex;
}

.container-grid {
    width: 85%;
    max-width: 1200px;
    display: grid;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

/* header */
header {
    width: 100%;
    display: grid;
    place-items: center;
    padding-block: 2em;
}
header > div nav .logo h1 a{
    font-size: 2rem;
}

/* main */
main {
    width: 100%;
    display: grid;
    place-items: center;
    padding-block: 5em;
}

main > div .drop-files {
    width: 100%;
    display: grid;
    place-items: center;
    padding-block: 10em;
    border: 2px solid #000;
}
main > div .drop-files form {
    width: 100%;
}

main > div .drop-files form label {
    width: 100%;
}
